<!-- ############ PAGE START-->
<div class="padding" ng-controller="ComponentUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Update Component</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateComponent()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Element ID</label>
                            <input type="number" class="form-control" ng-model="componentData.element_id"
                                placeholder="Element ID" required readonly>
                        </div>
                        <div>
                            <label for="componentNumber">Component Number:</label>
                            <input type="number" class="form-control" id="componentNumber" ng-model="componentData.component_number" placeholder="Enter Component Number">
                        </div>
                        <div class="form-group">
                            <label>Version</label>
                            <input type="number" class="form-control" ng-model="componentData.version_id"
                                placeholder="Version ID" required>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="componentData.name"
                                placeholder="Component Name" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Position X</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_position_x"
                                placeholder="Limit Position X" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Position Y</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_position_y"
                                placeholder="Limit Position Y" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Position Z</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_position_z"
                                placeholder="Limit Position Z" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Rotation X</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_rotation_x"
                                placeholder="Limit Rotation X" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Rotation Y</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_rotation_y"
                                placeholder="Limit Rotation Y" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Rotation Z</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_rotation_z"
                                placeholder="Limit Rotation Z" required>
                        </div>
                        <div class="form-group">
                            <label>Limit Rotation W</label>
                            <input type="text" class="form-control" ng-model="componentData.limit_rotation_w"
                                placeholder="Limit Rotation W" required>
                        </div>
                        <div class="form-group">
                            <label>Area Radius</label>
                            <input type="text" class="form-control" ng-model="componentData.area_radius"
                                placeholder="Area Radius" required>
                        </div>
                        <div class="form-group">
                            <label>Haptic Stiffness (Optional)</label>
                            <input type="text" class="form-control" ng-model="componentData.haptic_stiffness"
                                placeholder="Haptic Stiffness">
                        </div>
                        <div class="form-group">
                            <label>Haptic Temperature (Optional)</label>
                            <input type="text" class="form-control" ng-model="componentData.haptic_temperature"
                                placeholder="Haptic Temperature">
                        </div>
                        <div class="form-group">
                            <label>Haptic Texture (Optional)</label>
                            <input type="number" class="form-control" ng-model="componentData.haptic_texture"
                                placeholder="Haptic Texture">
                        </div>
                        <div class="form-group">
                            <label>File</label>
                            <input type="file" file-model="file" class="form-control" placeholder="Upload File">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->