<!-- ############ PAGE START-->
<div class="padding" ng-controller="ChassisUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Update Chassis</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateChassis()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="formChassis.name"
                                placeholder="Chassis Name" required>
                        </div>
                        <div class="form-group">
                            <label>File</label>
                            <input type="file" file-model="formChassis.file" class="form-control" placeholder="Chassis File">
                        </div>
                        <div class="form-group">
                            <label>License ID</label>
                            <input type="text" ng-model="formChassis.license_id" ng-disabled="!isSuperuser">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
