<!-- ############ PAGE START-->
<div class="padding" ng-controller="ChassisController">
    <div class="box">
      <div class="box-header">
        <h2>Chassis Details</h2>
        <small>Details of registered chassis</small>
      </div>
      <div class="box-body">
        Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r" ng-model="searchText" />
      </div>
      <div>
        <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
          <thead>
            <tr>
              <th data-toggle="true">
                Chassis ID
              </th>
              <th data-toggle="true">
                Name
              </th>
              <th data-hide="phone,tablet">
                File
              </th>
              <th data-hide="phone">
                Creation Date
              </th>
              <th data-hide="phone">
                Last Modified
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="chassis in chassisList | filter:searchText">
              <td>{{ chassis.id }}</td>
              <td>{{ chassis.name }}</td>
              <td><a ng-href="{{ chassis.file }}" target="_blank">View File</a></td>
              <td>{{ chassis.creation_date | date:'dd/MM/yyyy' }}</td>
              <td>{{ chassis.last_modified | date:'dd/MM/yyyy' }}</td>
              <td>
                <button class="btn btn-default btn-xs" ng-click="editChassis(chassis.id)">Edit</button>
                <button class="btn btn-danger btn-xs" ng-click="deleteChassis(chassis.id)">Delete</button>
              </td>
            </tr>
          </tbody>
          <tfoot class="hide-if-no-paging">
            <tr>
              <td colspan="6" class="text-center">
                <ul class="pagination"></ul>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- ############ PAGE END-->
  