<!-- ############ PAGE START-->
<div class="padding" ng-controller="ClientController">
    <div class="box">
        <div class="box-header">
            <h2>Client Details</h2>
            <small>Details of registered clients</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToNewClient()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Client</span>
                    </button>
                    <a>
                        <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>ID</th> 
                        <th data-toggle="true">
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th data-hide="phone">
                            Address
                        </th>
                        <th data-hide="phone,tablet">
                            Phone
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients | filter:searchText">
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="editClient(client.id)">Edit</button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteClient(client.id)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="viewProjects(client.id)">Projects</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="5" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
