<div class="padding" ng-controller="ProjectUpdateController">
    <div class="box">
        <div class="box-header">
            <h2>Update Project</h2>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body">
            <form ng-submit="updateProject()">
                <div class="form-group">
                    <label>Client</label>
                    <select ng-model="selectedClient" ng-options="client.name for client in clients track by client.id" class="form-control" required>
                    </select>
                </div>
                <div class="form-group">
                    <label>Project Name</label>
                    <input type="text" class="form-control" ng-model="currentProject.name" placeholder="Project Name" required>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" ng-model="currentProject.start_date" required>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" ng-model="currentProject.end_date" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Project</button>
                <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
            </form>
        </div>
    </div>
</div>
