<!-- ############ PAGE START-->
<div class="padding" ng-controller="ProjectController">
    <div class="box">
        <div class="box-header">
            <h2>Project Details</h2>
            <small>Details of registered projects</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToNewProject()" ng-if="isSuperuser || isStaff">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Project</span>
                    </button>
                    <a>
                        <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th data-toggle="true">
                            Name
                        </th>
                        <th data-hide="phone">
                            Start Date
                        </th>
                        <th data-hide="phone,tablet">
                            End Date
                        </th>
                        <th>Team</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects | filter:searchText">
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.start_date | date:'mediumDate' }}</td>
                        <td>{{ project.end_date | date:'mediumDate' }}</td>
                        <td>
                            <div ng-if="isSuperuser || isStaff">
                                <div ng-repeat="user in users">
                                    <label>
                                        <input type="checkbox" ng-checked="isUserAssignedToProject(project, user.id)"
                                            ng-click="toggleUserAssignment(project, user.id)">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </label>
                                </div>
                            </div>
                            <div ng-if="!isSuperuser && !isStaff">
                                <div ng-repeat="user in project.users">
                                    {{ user.full_name }}
                                </div>
                            </div>
                        </td>

                        <td>
                            <button class="btn btn-default btn-xs" ng-click="editProject(project.id)">Edit</button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteProject(project.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="7" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->